body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.hero-container, footer {
    background-color: #1f2937;
    color: white;
    padding: 35px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    margin: auto 85px;
    text-align: center;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
}
.hero-text p {
    font-size: 18px;
}
ul {
    display: flex;
    flex: 1; /* so flex 1 makes it so that items thats a column can wrap like a row */
    gap: 25px;
}
/* lower hero section */
.lower-hero {
    display: flex;
    flex: 1;
    margin: auto;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hero-img {
    width: 460px;
    height: auto;
    padding: 15px;
}
.hero-text {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    height: auto;
}
.button {
    border: 3px solid #3882f6;
    background: #3882f6;
    border-radius: 5px;
    padding: 5px;
    width: 95px;
    height: auto;
    text-align: center;
}
/* random info section */
.info-sect {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 460px;
}
h2 {
    display: flex;
    text-align: center;
    padding-bottom: 50px;
    font-size: 24px;
}
.info-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(155, 119, 64);
    
}
.img-container {
    gap: 55px;
}
.info-text {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 15px;
}
.img-container, .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 90px;
}
/* inspirational quote section */
.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    padding: 85px;
    background-color: rgb(231, 231, 231);
    flex-shrink: 1;
    
}
.author {
    display: flex;
    padding: 5px;
    justify-content: center;
    width: 250px;
    height: auto;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bolder;
}
.nyan {
    display: flex;
    font-size: 36px;
    width: 200px;
    font-style: italic;
    flex-wrap: wrap;
    flex: 1;
    margin: 10px;
}
.nyan {
    margin-left: 95px;
    margin-right: 95px;
}
